body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background: #1c1c1c url('Foto_Fluxo.png') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: grayscale(100%) blur(4px) brightness(40%);
}

.header-bar {
    width: 100%;
    background-color: black;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 80%;
    flex: 1;
    overflow-x: hidden;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image {
    max-width: 200%;
    height: auto;
    border-radius: 10px;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: none;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #f76c00;
    font-family: 'Poppins', sans-serif;
}

.header p {
    color: #f76c00;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #ffffff;
}

input[type="email"],
input[type="password"],
button {
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    background-color: #f76c00;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #e55a00;
}

.social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

.social-login button {
    background-color: #ccc;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 10px;
}

.social-login button img {
    margin-right: 9px;
}

.social-login button:hover {
    background-color: #bbb;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px; /* Defina a largura desejada para o logo */
    height: auto;
    margin-left: 150px; /* Adiciona uma margem à direita do logo */
}

.social-fluxo {
    margin-left: 20px; /* Adiciona uma margem à esquerda do texto "Social Fluxo" */
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 80%;
    flex: 1;
    overflow-x: hidden;
}

.login-text {
    position: absolute;
    top: 30%; /* Ajuste a posição vertical conforme necessário */
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
